<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-light flex-md-nowrap p-0 shadow ">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-4 text-muted"  href="{% url 'home' %}">VACANCY SELECTION</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="w-100" action="{% url 'search' %}" method = "get">
         <input class="form-control form-control-dark w-100" name = "q" type="text" placeholder="Search" aria-label="Search">
      </form>
      <span class = "navbar-text">
        {% if user.is_authenticated %}
            <a class="nav-link text-muted " href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a class="nav-link text-muted" href="{% url 'register' %}">Register</a>
            <a class="nav-link text-muted" href="{% url 'login' %}">Sign in</a>
        {% endif %}
      </span>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ">
          <div class="position-sticky pt-3 ">
            <ul class="nav flex-column ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'user'%}">
                  {% if user.is_authenticated %}
                    <h4 class="text-muted">{{user.first_name}} {{user.last_name }}</h4>
                  {% else %}
                    <h4>Welcome!</h4>
                  {% endif %}
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-4 text-muted">
              <span>Competence</span>
              {% if user.is_authenticated %}
                <a class="link-secondary" href="{% url 'user' %}" aria-label="Add a new competence">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                </a>

              {% else %}
                <a class="link-secondary" href="#" aria-label="Add a new competence">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                </a>
              {% endif %}
            </h6>
            <ul class="nav flex-column mb-2">
              {% if competencies %}
                {% for el in competencies %}
                    {% if user == el.person %}
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p>{{ el.title_of_competence }}</p>
                            <p class >{{ el.level_of_competence }}
                                {% for i in el.level_of_competence %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#B5D9DE" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                {% endfor %}
                            </p>

                        </div>
                    {% endif %}
                {% endfor %}
              {% else %}

                <p>No competence</p>
              {% endif %}

            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{% block title_vac %}{% endblock %}Vacancies</h1>
          </div>

          <div class="table-responsive">
              {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
              {% block vac_list %}{% endblock %}
          </div>
        </main>
      </div>
    </div>
</body>
</html>