{% extends 'core/base.html' %}

{% block title %}
{{ title }}
{% endblock %}




{% block vac_list %}
    <h4>Recently searched</h4>
    {% if vacancies %}
        {% for el in vacancies %}
            <div class="card-body row mt-2 d-flex justify-content-between mycard" >
                <div class="col-9 ">
                    <h3>{{ el.title_of_vacancy }}</h3>
                    <p>{{ el.description }}</p>
                    <div class="row">
                        <img class ="col-1 " src="static\core\images\rabotaua.png" width="auto" height="20px">
                        <p class="col-9">{{ el.web_site }}</p>
                    </div>
                </div>
                <div class="col-1 percent">
                    <p>{{ el.percent }} %</p>
                    <p>{{ el.salary }}</p>
                    <a href="#" class="text-muted">See more</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No results</p>
    {% endif %}
{% endblock %}




