{% extends 'core/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block competence %}
    {% if competencies %}
        {% for el in competencies %}
            {% if el.person == user %}
                <div class="alert alert-warning mt-2">
                    <p>{{ el.title_of_competence }}</p>
                    <p>{{ el.level_of_competence }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No competence</p>
    {% endif %}
{% endblock %}

{% block vac_list %}
    <h4>Recently searched</h4>
    {% if vacancies %}
        {% for el in vacancies %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title_of_vacancy }}</h3>
                <p>{{ el.description }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No results</p>
    {% endif %}
{% endblock %}




