{% extends 'core/base.html' %}

{% block vac_list %}
    <h5>Registration</h5>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
<!--        <input type="text" placeholder="Login" class="form-control"><br>-->
<!--        <input type="text" placeholder="Password" class="form-control"><br>-->
<!--        <input type="text" placeholder="Confirm password" class="form-control"><br>-->
        <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}